img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

.container {
    text-align: center;
}

#myCarousel {
    background-color: sky deepskyblue;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color:lightsteelblue;
    font-size: 20px;
}
.intro photo{
    width:100%;
}
body{
    background-color: linear-gradient(cornflowerblue 0%, indigo 100%)
}
